/*
	* All styles for the website!
	* Все стили сайта собраны в этом файле!
*/

/* Стили для всей страницы */
* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #FDC830;  /* fallback for old fbrowsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Конец Стилей для всей страницы */






/* Всплывающие окна (FAQ, User's errors) */
#wrap, #er_wrap{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background: #333333;
	z-index: 100;
	overflow: auto;
}

#window, #er_window{
	text-align: center;
	max-width: 700px;
	height: 270px;
	margin: auto auto;
	display: none;
	background: #fff;
	color: black;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	font-size: 24px;
}

#er_window p#us_errors {
	text-align: left;
	font-size: 18px;
}

#er_window button.p_close {
	padding: 10px 15px;
	background: black;
	border: 1px solid black;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	margin-top: 30px;
}

#er_window button.p_close:hover {
	background: none;
	border: 1px solid black;
	color: black;
	transition: background 0.8s;
}

.e_words {
	width: 100%;
	height: 100px; 
	overflow-y: scroll;
}

#us_pop_er {
	display: none;
}

#faq button {
	cursor: pointer;
	text-align: center;
	width: 45px;
	height: 45px;
	background: white;
	position: absolute;
	right: 10px;
	top: 0px;
	border-radius: 50%;
	border: 1px solid white;
}

#faq button img {
	width: 20px;
	height: 20px;
}

#faq #window {
	width:1050px;
    height:700px;
	text-align: center;
	overflow-x:hidden;
	border-radius: 20px;
}

#faq #window h1 {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-size: 60px;
	color: black;
}

#faq #window .line_up {
	border-top: 1px dashed black;
}

#faq #window .line_down {
	border-bottom: 1px dashed black;
}

#faq #window p.ask {
	padding-top: 10px;
	margin: 10px;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

#faq #window p.nask {
	text-align: left;
}

#faq #window .f_answer {
	padding-bottom: 10px;
}

#faq #window p.example {
	font-weight: bold;
}

#faq #window h2 {
	font-weight: 100;
}

#faq .gif {
	width: 500px;
	border-radius: 20px;
}

#faq #window p.answer {
	margin: 0px 10px;
	font-size: 18px;
	text-align: left;
	font-weight: 100;
}

#faq #window button.close {
	margin-top: 20px;
	border-radius: 0px;
	width: 150px;
	color: black;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 24px;
	padding: 15px;
	border: 1px solid black;
}

#faq #window button.close:hover {
	background: none;
	color: black;
	transition: 0.8s background;
}

/* Конец Всплывающих окон */






/* Стартовая страница */
header {
	display: none;
	color: #fff;
}

header h1, #end h1 {
	padding-top: 200px;
	text-align: center;
	color: #fff;
	display: block;
	margin: 20px auto;
	font-size: 80px;
}

#main {
	display: none;
	color: #fff;
}

#main h2 {
	text-align: center;
	font-size: 30px;
	color: #fff;
	display: block;
	margin: 10px;
	padding: 0px;
	font-weight: 100;
}

#main button {
	display: block;
	margin: 80px auto;
	background: #fff;
	color: #FDC830;
	font-size: 24px;
	font-weight: 100;
	width: 300px;
	height: 70px;
	padding: 10px 10px;
	border: 1px solid #F47735;
}

#main button:hover {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	transition: 1s background;
	cursor: pointer;
}

#main button:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

/* Конец Стартовой страницы */





/* Блок выбора режима игры */
#mode_game {
	display: none;
	text-align: center;
}

#mode_game p {
	font-size: 24px;
	color: #fff;
}

#mode_game button {
	width: 250px;
	height: 70px;
	background: #fff;
	color: #FDC830;
	margin: 20px auto;
	padding: 10px 15px;
	border: 1px solid #fff;
	font-size: 18px;
	cursor: pointer;
}

#mode_game button:hover {
	background: none;
	color: #fff;
	transition: 0.5s background;
}
/* Конец Блока выбора режима игры*/





/* Блок с заданиями */
#exercs {
	display: none;
	text-align: center;
	color: #fff;
}

#exercs p {
	font-size: 24px;
}

#exercs .list {
	max-width: 600px;
	margin: 0 auto;
}

#exercs .list button {
	cursor: pointer;
	color: #fff;
	background: none;
	padding: 15px 15px;
	display: inline-block;
	margin: 10px;
	border: 1px solid #fff;
	width: 70px;
	height: 70px;
	font-size: 24px;
}

#exercs .list button:hover {
	background: white;
	color: #FDC830;
	transition: background 0.8s;
}

/* Конец Блока с заданиями */



/* Блок с игрой */
#game {
	display: none;
	margin: 0 auto;
	text-align: center;
	word-wrap: normal;
	color: #fff;
}

#game button.color {
	display: inline-block;
	cursor: pointer;
	background: none;
	font-size: 18px;
	border: none;
	color: black;
	margin: 0px;
	width: 50px;
	padding: 0px;
}

#game #task {
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 5px;
}

#game #word {
	font-size: 50px;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	margin-bottom: 0px;
	display: inline-block;
	max-width: 350px;
}

#game #pfs {
	margin: 0px auto;
	padding: 0;
	color: #7C7C7C;
	font-size: 24px;
	vertical-align: middle;
}

#game #counter {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

#game {
	width: 100%;
}

#game input, button {
	display: block;
	margin: 10px auto;
}

#game input {
	width: 90%;
	padding: 10px 15px;
	background: none;
	border: 1px solid #fff;
	font-size: 20px;
	color: #fff;
	transition: 0.5s background;
}

#game input::placeholder {
  color: #fff;
  opacity: 1;
}

#game input:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

#game button, #game button:active {
	margin: 30px auto;
	background: #fff;
	color: #FDC830;
	font-size: 20px;
	font-weight: 100;
	width: 200px;
	padding: 10px;
	height: 60px;
	border: 1px solid #fff;
	display: inline-block;
}

#game button:hover {
	background: none;
	color: #fff;
	transition: 1s background;
	cursor: pointer;
}

#game img {
	margin: 2px;
	margin-top: 50px;
	width: 50px;
}

#game button.know, #game button.know:active {
	background: none;
	color: black;
	margin: 0px 10px;
	border: 1px solid black;
}

#game button.know:hover {
	background: black;
	color: #fff;
	transition: 1s background;
}

#game .icons a:hover {
	background: 0.5s #333;
}

#game #a_inform {
	margin: 40px auto;
	display: block;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	border: 1px dashed #fff;
	padding: 15px 20px;
	max-width: 150px;
}

#game #a_inform:hover {
	background: #fff;
	color: #FDC830;
	transition: background 0.3s;
}

/* 4 задание */
#game #word button {
	width: 60px;
	height: 60px;
	margin: 5px;
	font-size: 30px;
	margin-top: 30px;
	padding: 10px;
	display: inline;
}

/* 5 задание */
#game #par_task {
	border: 1px solid #fff;
	margin: 20px auto;
	max-width: 500px;
	min-width: 300px;
	font-size: 18px;
	border-spacing: 1px;
}

#game #par_task tr{
	border: 1px solid #fff;
}

#game #par_task th{
	border: 1px solid #fff;
	padding: 10px;
	font-weight: normal;
}

#game #par_task tr.task_tr th{
	font-weight: bold;
}

#game #task.par {
	max-width: 400px;
	margin: auto;
	margin-top: 70px;
}

/* reset the width of the input by using additional class */
#game #us_answer.par {
	max-width: 350px;
}

/* 7 задание */
#game #btn_answers button#ac_btn_accent {
	width: auto;
	height: 60px;
	margin: 10px;
	margin-top: 30px;
	padding: 10px;
	display: inline-block;
}

/* 14 задание */
#game #btn_answers button#ac_btn_phrasal {
	width: 90px;
	height: 60px;
	margin: 10px;
	margin-top: 30px;
	padding: 10px;
	display: inline-block;
}




.parent {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;

	background: #FDC830;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.block {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -175px;
}
/* Конец Блока с игрой */






/* Блок со списком блоков(генерируется JS) */
#block_tasks {
	max-width: 600px;
	display: none;
	margin: 0 auto;
	text-align: center;
}

#block_tasks p {
	font-size: 24px;
	color: #fff;
	text-align: center;
}

#block_tasks #btn_block {
	height: 60px;
	width: 120px;
	background: #fff;
	color: #FDC830;
	margin: 10px 15px;
	padding: 10px 15px;
	border: 1px solid #fff;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
}

#block_tasks #btn_block:hover {
	background: none;
	color: #fff;
	transition: background 0.8s;
}
/* Конец Блока со списком блоков */



/* Результат игры */
#end {
	display: none;
	text-align: center;
	padding-bottom: 40px; 
}

#end h1 {
	padding-top: 30px;
	color: #fff;
}

#end img {
	display: none;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

#end p {
	color: #fff;
	font-size: 36px;
	margin: 10px;
	font-weight: 100;
}

#end p#number {
	font-size: 120px;
}

#end #end_text {
	color: #fff;
	max-width: 500px;
	margin: 10px auto;
	font-weight: 100;
}

#end a {
	font-weight: 100;
	display: block;
	margin: 0px auto;
	margin-top: 40px;
	font-size: 24px;
	width: 200px;
	background: white;
	border: 1px solid #fff;
	padding: 15px;
	color: #8E2DE2;
	text-decoration: none;
}

#end a:hover {
	color: #fff;
	background: none;
	transition: 0.8s background;
}

#end p#us_errors {
	font-size: 	24px;
}

#end button#btn_errors {
	margin: 40px auto;
	font-size: 18px;
	background: #D63C3C;
	border: 1px solid #D63C3C;
	padding: 10px 15px;
	color: #fff;
	cursor: pointer;
}

#end button#btn_errors:hover {
	color: #D63C3C;
	background: #fff;
	border: 1px solid #fff;
	transition: 1 background;
	transition: 0.8s border;
}
/* Конец Результата игры */



/* ниже идут стили для мобильных устройств */
@media screen and (max-width: 800px) {
	header h1, #end h1 {
		padding-top: 100px;
	}


}

@media screen and (max-width: 600px) {
	#faq .gif {
		width: 400px;
	}
}

@media screen and (max-width: 400px) {
	header h1{
		font-size: 60px;
		font-weight: 100;
	}

	.block {
		width: 300px;
		height: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -150px 0 0 -150px;
	}

	#game #word {
		font-size: 50px;
		font-weight: 100;
	}

	#game #pfs {
		font-size: 18px;
		font-weight: 100;
	}
	
	#game button {
		margin-bottom: 15px;
	}

	#game img {
		margin-top: 15px;
	}

	#end p#end_text {
		font-size: 28px;
		max-width: 250px;
	}

	#end img {
		width: 200px;
		height: 200px;
	}

	#faq .gif {
		width: 300px;
	}

	#faq img {
		width: 300px;
	}

}